<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <% for date, name, selected in @dates %>
          <li<%=raw selected ? ' class="active"':''%>><a href="/look/available?date=<%= date %>"><%=name%></a></li>
        <% end %>
      </ul>
  </div><!-- /.container-fluid -->
</nav>

<table class="table table-hover">
  <tr>
    <th>Tid</th>
    <th>Klubb</th>
  </tr>
<% for time in Slot.all(available_hour:true).map { |slot| slot.time }.sort.uniq %>
  <tr>
    <td><span class="time"><%=time%></span></td>
    <td>
      <div class="btn-group btn-group-sm" role="group">
      <% Slot.clubs.each do |club| %>
        <% buttontype =  %>
        <a class="btn <%= @button_types[Slot.status(time: time, club: club)] %>" href="<%=club.link_url(@date)%>" role="button">
          <%= club.name %>
        </a>
      <% end %>
    </div>
    </td>
  </tr>
<% end %>
</table>

<div class="container">
<h3>Hjelp</h3>
<p>Squashmin gir en oversikt over tilgjengelige baner hos SQF. Velg en dag du vil se etter baner på toppen.</p>

<p>Fargene betyr følgende:</p>
<div class="btn-group-vertical" role="group">
  <button type="button" class="btn btn-primary">To baner tilgjengelig</button>
  <button type="button" class="btn btn-success">To baner tilgjengelig</button>
  <button type="button" class="btn btn-default disabled">Ingen bane tilgjengelig</button>
</div>
<p>&nbsp;</p>
<p>Verdt å vite:</p>
<ul>
  <li>Squashmin ignorerer halvtimer, siden det er lite poeng å spille en halvtime... Så alle statuser refererer til en hel times spilling fra det viste tidspunktet.</li>
  <li>Squashmin regner to forskjellige baner med en halvtime ledig etter hverandre som en hel time, så lenge det er i samme klubb.</li>
</ul>
</div>
<style>
.table th {
     border-top: none !important;
 }
 .table td {
   vertical-align: middle !important;
 }
 .time {
   font-size: 1.4em;
 }
</style>
