<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <% for date, name, selected in @dates %>
          <li<%=raw selected ? ' class="active"':''%>><a href="/look/available?date=<%= date %>"><%=name%></a></li>
        <% end %>
      </ul>
  </div><!-- /.container-fluid -->
</nav>

<table class="table table-hover">
  <tr>
    <th>Tid</th>
    <th>Sted</th>
  </tr>
<% for time in Slot.all(available_hour:true, first_time:16).map { |slot| slot.time }.sort.uniq %>
  <tr>
    <td><span class="time"><%=time%></span></td>
    <td>
      <div class="btn-group btn-group-sm" role="group">
      <% Slot.clubs.each do |club| %>
        <% buttontype =  %>
        <a class="btn <%= @button_types[Slot.status(time: time, club: club)] %>" href="<%=club.link_url(@date)%>" role="button">
          <%= club.name %>
        </a>
      <% end %>
    </div>
    </td>
  </tr>
<% end %>
</table>

<style>
.table th {
     border-top: none !important;
 }
 .table td {
   vertical-align: middle !important;
 }
 .time {
   font-size: 1.4em;
 }
</style>
