<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SquashMin</a>
    </div>
      <ul class="nav navbar-nav">
        <% for id, name, selected in @dates %>
          <li class="<%= selected ? 'active':''%>"><%= link_to name, day_path(id)%></li>
        <% end %>
      </ul>
  </div>
</nav>

<div align="center">
<table class="slots">
<% for time in Slot.all(available_hour:true).map { |slot| slot.time }.sort.uniq %>
  <tr>
    <td><span class="time"><%=time%></span></td>
    <td>
    <% Club.all.each do |club| %>
        <a class="btn btn-sm <%= Slot.status(time: time, club: club) %>"
           href="<%=club.link_url(@date)%>"
           role="button">
          <%= club.name %>
        </a>
    <% end %>
  </td>
  </tr>
<% end %>
</table>
</div>

<div class="container">
<h3>Hjelp</h3>
<p>SquashMin gir en oversikt over tilgjengelige baner hos SQF. Velg en dag du vil se etter baner på toppen.</p>

<p>Fargene betyr følgende:</p>
<div class="btn-group-vertical" role="group">
  <button type="button" class="btn btn-primary">To baner tilgjengelig</button>
  <button type="button" class="btn btn-success">En bane tilgjengelig</button>
  <button type="button" class="btn btn-default disabled">Ingen bane tilgjengelig</button>
</div>
<p>&nbsp;</p>
<p>Verdt å vite:</p>
<ul>
  <li>SquashMin ignorerer halvtimer, siden det er lite poeng å spille en halvtime... Så alle statuser refererer til en hel times spilling fra det viste tidspunktet.</li>
  <li>SquashMin regner to forskjellige baner med en halvtime ledig etter hverandre som en hel time, så lenge det er i samme klubb.</li>
</ul>
</div>
